{
    "editor.fontFamily": "Fira Code Retina",
    "editor.fontLigatures": true,
    "editor.fontWeight": "500",
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParent": "avoid"
}
