/*------------------------------------*/
/* MEDIA QUERIES MIXINS  */
/*------------------------------------*/

/*
	FROM--------------------TO-------------------DEVICES
	0px                   	566px				    xs *Current Styling
	576				        767px					sm
	768px				    991px					md
	992px				    1119px					lg
	1200px				    *					    xl
*/
// TODOS: Update comment

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 35.375em) {
      @content;
    }
  } @else {
    $minWidth: map-get(
                    (
                            sm: 35.4375em,
                            md: 48em,
                            lg: 62em,
                            xl: 75em
                    ),
                    $breakpoint
    );
    @media (min-width: $minWidth) {
      @content;
    }
  }
}