@import url(~@fortawesome/fontawesome-free/css/fontawesome.css);
.ant-checkbox-inner {
  width: 24px;
  height: 24px; }

.ant-checkbox-checked .ant-checkbox-inner::after {
  transform: rotate(45deg) scale(1.8) translate(-10%, -50%); }

/*------------------------------------*/
/* MEDIA QUERIES MIXINS  */
/*------------------------------------*/
/*
	FROM--------------------TO-------------------DEVICES
	0px                   	566px				    xs *Current Styling
	576				        767px					sm
	768px				    991px					md
	992px				    1119px					lg
	1200px				    *					    xl
*/
/*------------------------------------*/
/* BASIC SETUP */
/*------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 10px/16px = 62.5% => 1rem = 10px */
  font-size: 62.5%; }
  @media (min-width: 35.4375em) {
    html body {
      /* 9px/16px = 56.25% => 1rem = 9px */
      font-size: 56.25%; } }
  @media (min-width: 48em) {
    html body {
      /* 8px/16px = 50% => 1rem = 8px */
      font-size: 50%; } }
  @media (min-width: 62em) {
    html body {
      /* 12px/16px = 75% => 1rem = 12px */
      font-size: 75%; } }
  @media (min-width: 75em) {
    html body {
      /* 12px/16px = 75% => 1rem = 12px */
      font-size: 85%; } }

.u-margin-big {
  margin: 8rem; }

.u-margin-medium {
  margin: 4rem; }

.u-margin-small {
  margin: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-hover-effect {
  cursor: pointer;
  transition: all .2s; }
  .u-hover-effect:hover {
    transform: scale(1.05); }

.logo {
  background: #fff;
  width: 100%;
  height: 57px;
  float: left;
  display: flex; }
  .logo__link {
    display: flex;
    align-items: center; }
  .logo__image {
    width: 60%;
    margin: auto; }
  .logo__text {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85); }

.content-box {
  display: flex;
  margin: 1.5rem;
  padding: 1rem;
  background: #fff;
  min-height: 36rem;
  border: 1px solid #E6E6E6;
  border-radius: 1rem; }

.form-box {
  margin: auto;
  min-width: 20rem; }

.calendar {
  width: 100%; }

.event-page {
  width: 100%; }
  .event-page__info {
    display: flex; }
  .event-page__desc {
    flex: 1; }
  .event-page__stats {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
